html, body {
    margin: 0;
    padding: 0
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#foreground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.navbar {
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #0000FF0F;
}
.navbar-left {
    display: flex;
}

.navbar-center {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    border-style: none;
    padding: 16px 16px;
    transition-duration: 0.4s;
    z-index: inherit;
}
.nav-button:hover {
    background-color: #0000FF0F;

}
.panel {
    position: absolute;
    display: flex;
    background-color: rgba(233, 229, 229, 0.389);
    border-radius: 10px;
    top:10%;
    left:50%;
    width: fit-content;
    /* max-height: 80vh; */
    transform: translateX(-50%);
    overflow-y: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 1rem;
}

.image-button {
    display: flex;
    background-size: cover;
    width: 450px;
    height: 300px;
    border: none;
    cursor: pointer;
}

#mandelbrot {
    background-image: url('pics/mandelbrot.png');
}
#minecraft {
    background-image: url('pics/minecraft.png');
}
#cengine {
    background-image: url('pics/engine.png');
}
#final {
    background-image: url('pics/final.png');
}
#gamejam {
    background-image: url('pics/wireframe.png');
}
figure {
    padding: 4px;
    margin: auto;
}
figcaption {
    background-color: #f4f4f4;
    text-align: center;
}


.projects-panel {
    position: absolute;
    display: grid;
    background-color: white;
    border-radius: 10px;
    top:10%;
    left:50%;
    transform: translateX(-50%);

    overflow-y: auto;

}

.projects-panel h1,
.projects-panel h2,
.projects-panel h3,
.projects-panel p {
  padding-left: 10px;
}

code {
    margin: 1rem 4rem 0rem;
    background-color: #212121;
    color: white;
}
code p {
    margin: 0.35rem
}